<div id="section-topbar" class>
	<div id="topbar-inner">
		<div class="container">
    <div id="section-topbar">
    	<div id="topbar-inner">
    		<div class="container">
    			<div class="row">
    				<div class="dropdown">
    					<ul id="nav" class="nav">
    						<li class="menu-item"><a class="smoothScroll" href="/" title="홈으로"><i class="fa fa-home"></i></br>홈으로</a></li>
    						<li class="menu-item"><a class="smoothScroll" href="/map" title="지도보기"><i class="fa fa-map-marker"></i></br>지도보기</a></li>
    						<li class="menu-item"><a class="smoothScroll" href="/new" title="신고하기"><i class="fa fa-pencil"></i></br>제보하기</a></li>
    						<li class="menu-item"><a class="smoothScroll" href="/light" title="Contact"><i class="fa fa-lightbulb-o"></i></br>밝은 길</a></li>
    					</ul><!--/ uL#nav -->
    				</div><!-- /.dropdown -->
    
    				<div class="clear"></div>
    			</div><!--/.row -->
    		</div><!--/.container -->
    
    		<div class="clear"></div>
    	</div><!--/ #topbar-inner -->
    </div><!--/ #section-topbar -->

				<div class="clear"></div>
			</div><!--/.row -->
		</div><!--/.container -->

		<div class="clear"></div>
	</div><!--/ #topbar-inner -->
</div><!--/ #section-topbar -->




<div id="headerwrap">
	<div class="container">
		<div class="row centered">
			<div class="col-lg-12">
				<h1 style="font-family:cursive">MyLight</br></h1>>
				<h3></h3>
				<h3><%= @bar_num +1 %>번째 제보를 기다리고 있습니다!</h3>
			</div><!--/.col-lg-12 -->
		</div><!--/.row -->
	</div><!--/.container -->
</div><!--/.#headerwrap -->


<div id="c">
	<div class="container">
		<p>By 그 남자 개발, 그여자 기획</p>
	
	</div>
</div>
